.day {
    &__events {
        &_event {
            background-color: #e4e4e4;
            padding-left: 5px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
